@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111827; /* Gray 900 - Hitam Pekat */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  /* Request kamu: Tulisan agak tebal (medium) dan halus (antialiased) */
  @apply font-medium antialiased text-gray-900; 
}

/* Custom Utilities */
.glass-effect {
  @apply bg-white/80 backdrop-blur-md border-b border-gray-200;
}